{% extends 'app/base.html' %}

{% load static %}

{% block content %}
<!-- Start home -->
<section class="page-title-box">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center text-white">
                    <h3 class="mb-4">Jobs</h3>
                    <div class="page-next">
                        <nav class="d-inline-block" aria-label="breadcrumb text-center">
                          
                        </nav>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!-- end home -->


<!-- START SHAPE -->
<div class="position-relative" style="z-index: 1">
    <div class="shape">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
            <path fill="" fill-opacity="1"
                d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
            </path>
        </svg>
    </div>
</div>
<!-- END SHAPE -->

<div class="main-content">
    <div class="page-content">

        <!-- START JOB-LIST -->
        <section class="section">
            <div class="container">

                <div class="me-lg-5">
                    <div class="job-list-header">
                        <form action="{% url 'jobs' %}" method="GET">
                            <div class="row g-2">
                                <div class="col-lg-5">
                                    <div class="filler-job-form">
                                        <i class="uil uil-briefcase-alt"></i>
                                        <input type="search" class="form-control filter-job-input-box" name="q" placeholder="Job name">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <button type="submit" class="btn btn-primary w-100"><i class="uil uil-search"></i> Search</button>
                                </div>
                                <div class="col-lg-4">
                                    <p class="text-muted mb-0">Partnered with <a href="https://example.com" target="_blank">Official Job Search Website</a></p>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div>
                        {% for job in jobs %}
                            <div class="job-box card mt-5" style="background-color: #f9f9f9;">
                                <div class="p-4">
                                    <div class="row align-items-center">
                                        <div class="col-md-10">
                                            <div class="mb-2 mb-md-0">
                                                <h4 class="fs-22 mb-2"><a href="job-details.html" class="text-dark" style="font-family: 'Open Sans', sans-serif;">{{job.title}}</a></h4>
                                                <p class="text-muted fs-16 mb-2" style="font-family: 'Roboto', sans-serif;">{{job.description}}</p>
                                                <ul class="fs-16 mb-2" style="font-family: 'Roboto', sans-serif;">
                                                    <li><strong>Skills:</strong> 
                                                        {% for skill in job.skills.all %}
                                                            {{ skill.name }}{% if not forloop.last %}, {% endif %}
                                                        {% endfor %}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-3 bg-light">
                                    <div class="row justify-content-between">
                                        <div class="col-md-4">
                                            <div>
                                                <p class="text-muted mb-0"><span class="text-dark">Interest:</span> {{job.interest}}</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-3">
                                            <div class="text-start text-md-end">
                                                <a href="#applyNow" data-bs-toggle="modal" class="btn btn-primary">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="row">
                        <div class="col-lg-12 mt-4 pt-2">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination job-pagination mb-0 justify-content-center">
                                    {% if jobs.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page=1{% if query %}&q={{ query }}{% endif %}{% if interest %}&interest={{ interest }}{% endif %}" tabindex="-1">
                                                <i class="mdi mdi-chevron-double-left fs-15"></i>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ jobs.previous_page_number }}{% if query %}&q={{ query }}{% endif %}{% if interest %}&interest={{ interest }}{% endif %}">
                                                {{ jobs.previous_page_number }}
                                            </a>
                                        </li>
                                    {% endif %}

                                    <li class="page-item active">
                                        <a class="page-link" href="?page={{ jobs.number }}{% if query %}&q={{ query }}{% endif %}{% if interest %}&interest={{ interest }}{% endif %}">
                                            {{ jobs.number }}
                                        </a>
                                    </li>

                                    {% if jobs.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ jobs.next_page_number }}{% if query %}&q={{ query }}{% endif %}{% if interest %}&interest={{ interest }}{% endif %}">
                                                {{ jobs.next_page_number }}
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ jobs.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}{% if interest %}&interest={{ interest }}{% endif %}">
                                                <i class="mdi mdi-chevron-double-right fs-15"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div><!-- end row -->
                </div>
            </div>
            <!--end container-->
        </section>
        <!-- END JOB-LIST -->

    </div>
    <!-- End Page-content -->
</div>

{% endblock content %}
